*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------------- top logo part ---------------*/
.navbar{
    width:100%;
    height:10vh;
    border:0px solid black;
    display:flex;
    margin:0px auto 5px;
    justify-content:space-between;
    background-color: white;
    
}

.logo{
    width:70%;
    height:70%;
    margin:auto 0px;
    border:0px solid black;
}

.logo img{
    width:100%;
    height:80%;
    border:0px solid black;
    margin:5px auto;
}

.icon{
    width:25%;
    height:70%;
    margin:auto 0px;
    border:0px solid black;
    text-align: center;
}

.icon i{
    line-height:7vh;
    font-size:25px;
    color:grey;
}

.icon button{
    width:100%;
    height:100%;
    background-color: white;
    border:0px;
}

.sidebar{
    width:25%;
    height:100vh;
    border:0px solid black;
    position:fixed;
    top:0px;
    left:-500px;
    overflow:auto;
    transition: 0.5s ease-in-out;
    background-color:white;
   
}
.sidebar.active{
    left:0;  
    
}
.cross{
    display:flex;
    justify-content:space-between;
    margin:10px;
    border:0px solid black;
    height:7vh;
    z-index:10;
}

.cross button{
    width:50px;
    height:100%;
    text-align:center;
    line-height:50px;
    font-size:25px;
    border:0px solid black;
    background-color: white;;
}
.cross h3{
    font-size:25px;
    padding:10px;
    font-weight: lighter;
    color:rgb(35, 30, 30);
}
.section{
    height:90%;
    overflow:auto;
    border:0px solid black;
}
.product-type{
    display:flex;
    height:7vh;
    border:0px solid black;
   
    margin:10px;
    border-bottom: 1px dotted black;
}

.product-type h2{
    font-size:20px;
    font-weight:lighter;
    padding:7px;
    line-height:5vh;
    color:rgb(68, 67, 67);
}
.product-type i{
    font-size:20px;
    padding:7px;
    line-height:5vh;
    color:rgb(44, 38, 38);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9; 
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.overlay.active {
    visibility: visible; 
    opacity: 1; 
}
.sidebar {
    z-index: 10; 
}
.categories{
    width:26%;
    height:100%;
    border:0px solid black;
    display:flex;
    margin-left:10px;
}
.categories select{
    width:100%;
    height:60%;
    border:0px solid black;
    margin:auto;
    font-size:15px;
    color:grey;
    background-color:#f3faff;
    
}
.search{
    width:70%;
    height:100%;
    border:0px solid black;
    display:flex;
}
.search input{
    width:80%;
    height:70%;
    border:0px;
    margin:auto;
    font-size:18px;
    color:grey;
    overflow:hidden;
    padding:10px;
    background-color:#f3faff;
    
}
.categories select:focus, .search input:focus{
    outline: 3px solid skyblue;
    border-radius:10px;
}

.search i{
    font-size:25px;
    margin:auto;
    color:grey;
}
.page{
    width:20%;
    border:0px solid black;
    display:flex;
    justify-content:space-evenly;  
    background-color:white; 
}
.home{
    width:40%;
    height:50%;
    margin:25px ;
    border:0px solid black;
       
}
.home h3{
    font-size:20px;
}
.page-1{
    width:30%;
    height:50%;
    margin:20px;
    border:0px solid black;
    
}
.page-1 button{
    width: 100%;
    height: 5vh;
    padding:5px;
    cursor: pointer;
    background-color: white;
    margin-top:auto;
    border:0px solid black;
    display:flex;
}
.page-1 button h2{
    font-size:20px;
    
}
.page-1 button i{
    padding:7px;
}
.section-1{
    position: absolute;
    top:-100%;
    right:190px;
    width: 200px;
    background-color: white;
    border: 0px solid black;
    overflow-y: auto;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    z-index:-1;
}
.section-1.active{
    top:60px;
    z-index:-1;
    visibility: visible;
}
.page-type{
    border-bottom: 0px solid black;
    padding: 10px 20px;
    
}
.page-type h3{
    margin: 0;
    font-size: 18px;
}

.login{
    width:10%;
    height:100%;
    border:0px solid black; 
    align-items: center;
    padding: 10px;
    display:flex;
    
}
.login i{
    font-size:25px;
    color:black;
    margin:auto;
}
.main {
    width: 100%;
    height: 100vh;
    border: 0px solid black;
    margin: auto;
    background: url(images/banner-1.jpg);
    background-size: 100% 100%;
    flex-direction: column;
    display: flex;
    position: relative;
    z-index:-10;
}

.box-1{
    width:70%; 
    border:0px solid black;
    position:relative;
    top:13%;
    left:2%;
}
.text{
border:0px solid black;
}
.text h1{
    font-size:80px;
    word-spacing: 1px;
    font-weight: normal;
    padding:10px;
}
.text h4{
    font-size:20px;
    padding:10px;
    color:grey;
    word-spacing:2px;
   letter-spacing:1px;  
}
.login-1{
    border:0px solid black;
    margin:15px;

}
.login-1 button{
    border:0px solid black;
    height:7vh;
    border-radius:30px;
    font-size:17px;
    text-transform: uppercase;
}
#btn-1{
    background-color:rgb(39, 158, 39);
    color:white;
    width:200px;
}
#btn-2{
    background-color:rgb(51, 50, 50);
    color:white;
    width:150px;
    position:relative;
    left:15px;
}
.box-2{
    border:0px solid black;
    display:flex;
}
.box-3{
    border:0px solid black;
    display:flex;
}
.box-3 h1{
    font-size:50px;
    padding:10px;
}
.box-3 h4{
    font-size:25px;
    padding:10px;
    font-weight:lighter;
}
.box-4{
    position:absolute;
    width:90%;
    height:20vh;
    bottom: 0;
    left: 5%;
    border:0px solid black;
    display:flex;
}

.box-5{
    display:flex;
    justify-content:space-center;
    border:0px solid black;
    width:100%;
    height:100%;
    margin:auto;
}
.box-6{
    border:0px solid black;
    height:60%;
    width:30%;
    color:white;
    margin:auto;
}
.box-6 i{
    padding:10px 60px;
    line-height:10vh;
    font-size:50px;
}
.box-7{
    width:60%;
    height:70%;
    border:0px solid black;
    color:white;
    font-weight:lighter;
    margin:auto;
}
.box-7 h1{
    font-size:25px;
    font-weight:lighter;
    padding:10px 20px 5px;
}
.box-7 h4{
    font-size:15px;
    font-weight:lighter;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height:25px;
    padding:5px 25px 10px;
}
.main-2{
    border:0px solid black;
    display:flex;
    justify-content:space-between;
    margin:10px auto;
}
#btn-3{
    width:100px;
    height:40px;
    border-radius:10px;
    border:0px solid black;
    font-size:20px;
    font-weight:lighter;
    background-color:rgb(24, 171, 24);
    color:white;

}
.slider-button-left, .slider-button-right{
    width:40px;
    height:40px;
    margin:10px 3px;
    border-radius:10px;
    font-size:20px;
    background-color:rgb(152, 146, 146);
    border:0px;
    cursor: pointer;
}

#btn-3:hover{
    background-color:rgb(255, 95, 37);
    
}
.slider-button-left:hover , .slider-button-right:hover{
    color:white;
    background-color:rgb(24, 171, 24);
}
#btn-4, #btn-5{
    width:40px;
    height:40px;
    margin:10px 3px;
    border-radius:10px;
    font-size:20px;
    background-color:rgb(152, 146, 146);
    border:0px;
    cursor: pointer;
}
#btn-4:hover , #btn-5:hover{
    color:white;
    background-color:rgb(24, 171, 24);
}

.category h1{
    font-size:35px;
    font-weight:lighter;
    margin:10px;
}

.slider-container{
    width:100%;
    height:25vh;
    overflow:hidden;
    position:relative;
    margin:0 auto;
    border:1px solid white;
    border-radius:8px;
    background-color: #fff;
}
.sliderwrapper{
    display:flex;
    border:0px solid black;
    margin:25px auto;
    transition:transform 0.5s ease;

}
.slider-items{
    min-width:14.2857%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:0px solid black;

}
.slider-items img{
    width:130px;
    height:130px;
    object-fit: cover;
    border-radius:50%;

}

.main-4{
    border:0px solid black;
    display:flex;
    justify-content:space-between;
    margin-top:60px;
}
.products{
    border:0px solid black;
    
}
.box-8{
    display:flex; 
    justify-content: space-evenly; 
    margin:10px auto;
    border:0px solid black;
   
}
.box-9{
    text-align: center;
    border:0px solid black;
    width:300px;
    height:58vh;
    margin:10px auto;
    
}
.box-9:hover{
    box-shadow: 0px 2px 8px 2px rgba(110, 177, 199, 0.3);
}
.box-10 img{
    margin:20px;    
}
.box-11 i{
    color:yellow;
    padding:1px;
}
.box-11 h4{
    font-weight:lighter;
    padding:5px;
}
.box-12{
    display:flex;
    justify-content:center;
    text-align:center;
    margin:5px auto;
}
.box-12 p{
    padding:5px;
}
.box-12 h5{
    color:rgb(65, 64, 64); 
    text-align: center;
    line-height:25px; 
    padding:2px;
}
.box-12 div{
    width:80px;
    height:30px;
    border:1px solid rgb(82, 81, 81); 
    margin:auto 3px;
}
.button-1{
    border:0px solid black;
    display:flex;
    justify-content:space-evenly;
    display:none;   
}
.box-9:hover .button-1{
    display:block;
}
.button-1 input{
    width:50px;
    height:40px;
    border:2px solid rgb(71, 70, 70);
    border-radius:10px;
    text-align: center;
    margin:10px 5px;
}

#btn-6{
    width:150px;
    height:40px;
    border:2px solid green;
    border-radius:5px;
    background-color: green;
    color:white;
    margin:0px 5px;
}
#btn-6:hover{
    background-color: orangered;
    border:1px solid orangered;
}
#btn-7{
    width:40px;
    height:40px;
    border:1px solid black;
    border-radius:10px;
    text-align:center;
    margin:10px 5px;
    font-size:20px;
    
    
}
#btn-7:hover{
    background-color:red;
    border:red;
    color:white;
}
.main-5{
    display:flex;
    justify-content:space-around;
    border:0px solid black;
    height:65vh;
    width:97%;
    margin:20px auto 40px;
}
.box-13{
    width:60%;
    height:100%;
    border:0px solid black;
    background: url(images/banner-ad-1.jpg);
    background-size: 100% 100%;
    object-fit: cover;
    display:flex;
    align-items: center;
}
.box-14 {
    width:39%;
    height:100%;
    border:0px solid black;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.box-15{
    width:100%;
    height:49%;
    border:0px solid black;
    background:url(images/banner-ad-2.jpg);
    background-size: 100% 100%;
    display:flex;
    align-items: center;
}
.box-16{
    width:100%;
    height:49%;
    border:0px solid black;
    background:url(images/banner-ad-2.jpg);
    background-size: 100% 100%;
    display:flex;
    align-items: center;
}
.part-1{
    width:50%;
    height:40%;
    border:0px solid white;
    padding:10px;
    margin:0px 20px;
    
}
.part-1 h4{
    margin:10px auto;
    font-size:15px;
}
.part-1 h1{
    color:white;
    margin-top:30px;
    font-size:15px;
    position: relative;
    display: inline-block;
    cursor: pointer;

}
.part-1 h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: rgb(251, 250, 250); 
    transition: width 0.3s ease-in-out; 
}

.part-1 h1:hover::after {
    width: 100%;
}

.main-6{
    border:0px solid black;
    width:97%;
    height:40vh;
    background:url(images/banner-newsletter.jpg);
    background-size:100% 100%;
    margin:30px auto;
    object-fit: cover;
    display: flex;
    
}
.box-19{
    display:flex;
    justify-content:center;
    width:80%;
    height:70%;
    margin:auto;
    
}
.box-17{
    width:45%;
    height:100%;
    border:0px solid black;
    flex-direction:column;
    
}
.box-17 h1{
    color:white;
    font-weight: lighter;
    font-size:40px;
    padding:10px;
    line-height:50px;
    
}
.box-17 h4{
    color:white;
    padding:5px;
    font-weight: lighter;
    font-size: 20px;
}
.box-18{
    width:55%;
    height:100%;
    border:0px solid black;
    flex-direction:column;
    
}
.box-18 input[type="text"]{
    width:80%;
    height:40px;
    margin:10px;
    
}
.box-18 input[type="text"]::placeholder{
    color:black;
}
.box-18 input[type="submit"]{
    width:80%;
    height:40px;
    margin:10px;
    background-color: black;
    color:white;
    border: black;
}
.box-18 input[type="submit"]:hover{
    background-color: rgb(36, 36, 36);
    border:rgb(36, 36, 36)
}
.main-7{
    width:100%;
    height:70vh;
    border:0px solid black;
    display:flex;
    justify-content: space-evenly;
    margin:auto auto 20px;

}
.box-20{
    width:30%;
    height:100%;
    border:0px solid black;
    box-shadow: 0px 0px 5px rgba(159, 186, 198, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-21{
    border:0px solid black;
    height:45%;
    margin:0px auto 20px;
}
.box-21 img{
    width:100%;
    height:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.box-22{
    width:100%;
    height:50%;
    border:0px solid black;
}
.box-22 i,h6{
    font-size:14px;
    font-weight: lighter;
    padding:5px;
    color:rgb(73, 69, 69);

}
.box-22 h1{
    font-size:25px;
    padding-right:20px;
    padding-left:8px;
    font-weight: lighter;
}
.box-22 p{
    font-size:15px;
    padding:8px ;
    line-height:5vh;
    color:rgb(62, 60, 60);
}
.main-8{
    width:98%;
    height:60vh;
    border:0px solid black;
    display:flex;
    margin:20px auto ;
    border-radius:20px;
    background-color:#FEBE10;
}
.box-23{
    width:70%;
    height:100%;
    border:0px solid black;
    margin:auto;
    display:flex;
}
.box-24{
    width:50%;
    height:100%;
    border:0px solid black;
}
.part-2{
    width:100%;
    height:100%;
    border:0px solid black;
    display:flex;
    flex-direction: column;
    justify-content:center;

}
.part-3, .part-4{
    border:0px solid black;
    padding:10px; 
}
.part-3 h1{
    padding:5px 20px;
    font-size:35px;
    font-weight:500px;
    color:rgb(32, 32, 32);
}
.part-3 h4{
    padding:0px 20px;
    color:rgb(84, 83, 83);
}
.part-4 img{
    padding:0px 20px;
}

.box-25{
    width:50%;
    height:100%;
    border:0px solid black;
    position: relative;
}
.box-25 img{
    width:100%;
    height:95%;
    border:0px solid black;
    object-fit:fill;
    position: absolute;
    bottom: 0; left: 0;
}
.main-9{
    border:0px solid black;
    margin-top:50px;
}
.main-9 h1{
    padding:20px;
}
.main-10{
    border:0px solid black;
    margin:10px auto 10px;
}
.box-26{
    border:0px solid black;
    display:flex;
    justify-content:left;
    
}
.part-5{
    border:0px solid black;
    margin:10px 15px 10px;
    background-color: #faede4;
    cursor: pointer;
}
.part-5:hover{
    background-color:#F8C8DC;
}
.box-26 h5{
    font-size:17px;
    padding:5px;
    color:rgb(67, 66, 66);
    font-weight: lighter;
}
.main-11{
    border:0px solid black;
    margin:30px auto;
    display:flex;
    justify-content: space-evenly;

}
.box-27{
    border:1px solid rgb(82, 81, 81) ;
    border-radius:10px;
    width:18%;
}
.box-27 i{
    padding:20px 30px;
    font-size: 22px;
    color:rgb(56, 56, 56);
    
}
.box-27 h3{
    padding:0px 10px;
    font-size:20px;
    
}
.box-27 p{
    font-size:18px;
    padding:10px;
    line-height:4vh;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    word-spacing:1px;
    color:rgb(148, 142, 142);
}

.main-12{
    border:0px solid black;
    margin:10vh auto;
    display:flex;
    justify-content:space-evenly;
    width:100%;

}
.box-28{
    width:20%;
    border:0px solid black;
    height:80%;
    margin:auto;
    
}

.part-6 img{
    width:80%;
    margin:40px auto 0px;
}
.part-7{
    display:flex;
    margin:15px;
}
.part-7 div {
    margin:3px;
    border:1px solid rgb(211, 209, 209);
    border-radius:5px;
   
}
.part-8 i{
    padding:10px;
    color:rgb(108, 107, 107);
    text-align: center;
}
.part-8:hover{
    background-color: lightsteelblue;
    border:1px solid lightsteelblue;
}
.part-8 i:hover{
    color:black;
}
.box-29{
    display:flex;
    width:45%;
    border:0px solid black;
    justify-content: space-between;
    margin:auto;
}
.part-9 ul,li{
    text-decoration:none;
    list-style: none;
    padding:8px;
    color:grey;
}
.part-9 h2{
    color:black;
    
}
.box-30{
    border:0px solid black;
    width:25%;
    margin:0px auto;
}
.part-10 h3{
    padding:20px 0px 5px;
    font-size:x-large;
}
.part-10 h4{
    padding:10px 0px;
    color:grey;
}
.part-11{
    margin:30px auto;
    height:40px;
    border:0px solid black;
}
.part-11 button{
    height:40px;
    width:30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:0px solid black;
    background-color: rgb(49, 48, 48);
    color:white;
    font-size:16px;
}
.part-11 input[type="text"] {
    width:70%;
    height:40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:1px solid #f0f8ff;
    background-color:#f0f8ff;
    
}